<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>FB</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.google</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>app-1</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string></string>
	<key>FacebookClientToken</key>
	<string></string>
	<key>FacebookDisplayName</key>
	<string>TheLadder</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<string>YES</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Gramatika-Black.ttf</string>
		<string>Gramatika-BlackItalic.ttf</string>
		<string>Gramatika-Bold.ttf</string>
		<string>Gramatika-BoldItalic.ttf</string>
		<string>Gramatika-Italic.ttf</string>
		<string>Gramatika-Light.ttf</string>
		<string>Gramatika-LightItalic.ttf</string>
		<string>Gramatika-Medium.ttf</string>
		<string>Gramatika-MediumItalic.ttf</string>
		<string>Gramatika-Regular.ttf</string>
	</array>
</dict>
</plist>
